Button {
    min-height: 10%;
    background-color: #5a5656;
    opacity: 0.9;
    color: white;
    font-size: .9rem;
    text-shadow: 0 0 1vh black;
    border-radius: 5vh;
    box-shadow: 0 0 1vh black;
    cursor: auto;
    transition: opacity 0.5s;
    width: 90%;
}

.formButton {
    grid-area: 1/11/2/13;
    margin-top: 1rem;
    padding: .5rem;
}

.button__opened {
    background-color: #5a5656;
    color: white;
    text-shadow: 0 0 1vh black;
    width: auto;
    min-width: 65%;
}

.button__closed {
    background-color: #ccc;
    color: black;
    text-shadow: 0 0 1vh white;
    width: auto;
    min-width: 65%;
}

.delete {
    width: auto;
    min-width: 65%;
}