.ToDoItem{
    width: 90%;
    height: 3rem;
    border: 1px solid black;
    border-radius: 2rem;
    background-color: #4b4bd5;
    color: white;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 1rem;
    margin-bottom: .3rem;
}
.taskContent{
    grid-area: 1/1/2/6;
}
.priority{
    grid-area: 1/8/2/9;
}
.dueDate{
    grid-area: 1/9/2/11;
}
.category{
    /*text-align: center;*/
    grid-area: 1/6/2/8;
}
.toDo__opened{
    background-color: red;
}
.toDo__closed{
    background-color: #6b6767;
}
.very-low{
    background-color: greenyellow;
}
.low{
    background-color: green;
}
.medium{
    background-color: blue;
}
.high{
    background-color: #7d22c9;
}
.very-high{
    background-color: red;
}