.calendar-day{
    background-color: #4b4bd5;
    margin: .1rem 0;
}
.react-calendar{
    width: 90%;
}
.react-calendar__navigation{
    display: flex;
    margin-bottom: 2rem;
    height: 2rem;
}
.react-calendar__navigation__arrow, .react-calendar__navigation__label{
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.react-calendar__navigation__label{
    pointer-events: none;
}
.react-calendar__tile{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

}
.react-calendar__tile abbr{
    visibility: hidden;
}
.div-in-button{
    width: 100%;
    height: 100%;
    padding: 1rem 0;
}