.mainSelectPriority {

}

label {
    margin: 0;
    padding: 0 1rem;
    width: 100%;
    text-align: center;
}

select {
    border-radius: 15px;
    padding: .5rem 0;
    text-align: center;
    width: 90%;
    font-size: 1rem;
    height: 2.3rem;
    border: 2px solid black;
}

option {
    /*line-height: 2rem;*/
    border-radius: 15px;
    background-color: white;
}