.progress-bar__all {
    position: relative;
    background-color: red;
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
    text-shadow: 0 0 2px black;
    z-index: 1;
    height: 100%;
    width: 90%;
    border-radius: 2rem;

}
.text-hidden p {
    opacity: 0;
}
.filler {
    position: absolute;
    height: 100%;
    background-color: blue;
    transform: translateY(-100%);
    border-radius: 2rem;
    text-align: right;
    padding-right: 1rem;
    opacity: 1;
}
